<img data-interchange='[http://api.randomuser.me/portraits/med/women/54.jpg, (small)], [http://api.randomuser.me/portraits/women/54.jpg, (large)]' src='http://api.randomuser.me/portraits/women/54.jpg' title="My profile image" alt="Me" class="my-profile-image" />
<ul class="off-canvas-list">
    <li><label>My profile</label></li>
    <li><a ng-click="logOut()">LogOut</a></li>
    <li><a href="#">Edit my profile</a></li>
    <li><label>HR Tasks</label></li>
    <li><a href="#">Add Employee</a></li>
    <li><a href="#">Modify Employee</a></li>
    <li><a href="#">Delete Employee</a></li>
</ul>