<header class="row full-width">
    <div class="small-12 large-2 columns logo-container">
        <a href="http://www.headspring.com/" class="show-for-large-up">
            <img alt=" " src="http://www.headspring.com/sites/default/files/logo.headspring.png" class="logo-large">
        </a>
        <a href="http://www.headspring.com/" class="hide-for-large-up">
            <img alt="" src="http://www.headspring.com/sites/default/files/logo.headspring.png" class="logo-small">
        </a>
        <h1 class="hide-for-large-up text-center application-title">Directory</h1>

        <!-- HAMBURGER ICON -->
        <div class="left-off-canvas-toggle hamburger-wrapper hide-for-large-up" ng-class="{active:offCanvasOpened}">
            <div class="menu-toggle">
                <span class="bars">
                </span>
            </div>
        </div>
    </div>
    <div class="show-for-large-up large-10 columns title-container">
        <h1 class="application-title">Directory</h1>
    </div>
</header>