<video autoplay="" loop="" poster="http://d3thflcq1yqzn0.cloudfront.net/035230548_prevstill.jpeg" id="bgvid">
    <source src="http://p5cdnp.s3.amazonaws.com/035230548_main_xl.mp4?response-content-disposition=attachment%3B%20filename%3D035230548-businessman-using-smartphone-s.mp4&response-content-type=application%2Foctet-stream&AWSAccessKeyId=AKIAJB3QARZ5P2LRT7KQ&Expires=1421732075&Signature=t4RinccaQp1rn%2BUcwJCEjok7eZc%3D" type="video/mp4">
    <source src="https://www.dropbox.com/s/3zo6ipypx8wkxan/010587596_smartphone.ogv" type="video/ogg">
</video>

<div class="center row">
    <tabset>
        <tab heading="Log in">
            <div class="row">
                <div class="large-12 columns">
                    <div class="signup-panel">
                        <p class="welcome">Welcome back!</p>
                        <form role="form">
                            <div class="row collapse">
                                <div class="small-2 columns">
                                    <span class="prefix"><i class="fi-mail"></i></span>
                                </div>
                                <div class="small-10  columns">
                                    <input type="text" placeholder="Username" data-ng-model="loginData.userName" required autofocus />
                                </div>
                            </div>
                            <div class="row collapse">
                                <div class="small-2 columns ">
                                    <span class="prefix"><i class="fi-lock"></i></span>
                                </div>
                                <div class="small-10 columns ">
                                    <input type="password" placeholder="Password" data-ng-model="loginData.password" required />
                                </div>
                            </div>
                            <button class="button" type="submit" data-ng-click="login()">Log in!</button>
                            <div data-ng-hide="message == ''" class="alert alert-danger">
                                {{LoginMessage}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Sign Up">
            <div class="row">
                <div class="large-12 columns">
                    <div class="signup-panel">
                        <p class="welcome">Hello dear employee!</p>
                        <div class="animate-switch-container" data-ng-switch data-on="registrationScreen">
                            <form class="animate-switch" ng-switch-when="first">
                                <div class="row collapse">
                                    <div class="small-2  columns">
                                        <span class="prefix"><i class="fi-torso"></i></span>
                                    </div>
                                    <div class="small-10  columns">
                                        <input type="text" placeholder="Username" data-ng-model="registration.userName" required />
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="small-2 columns ">
                                        <span class="prefix"><i class="fi-lock"></i></span>
                                    </div>
                                    <div class="small-10 columns ">
                                        <input type="password" placeholder="Password" data-ng-model="registration.password" required />
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="small-2 columns ">
                                        <span class="prefix"><i class="fi-lock"></i></span>
                                    </div>
                                    <div class="small-10 columns ">
                                        <input type="password" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required />
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="small-2 columns">
                                        <span class="prefix"><i class="fi-results-demographics"></i></span>
                                    </div>
                                    <div class="small-10 columns">
                                        <select name="RoleName" data-ng-model="registration.roleName" required>
                                            <option value="" disabled selected style='display:none;'>Select User Role</option>
                                            <option value="" selected>Consultant</option>
                                            <option value="HR" selected>Human Resources</option>
                                            <option value="Admin">Admin</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="button" type="submit" ng-show="!signedUpSuccessfully" data-ng-click="signUp()">Sign Up</button>
                                <div data-ng-hide="message == ''" data-ng-class="(signedUpSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                                    {{SignUpMessage}}
                                </div>
                                <button class="button" type="submit" ng-show="signedUpSuccessfully" data-ng-click="continueRegistration()">Continue</button>
                                <a class="button" ng-show="signedUpSuccessfully" href="#/directory">No, just take me to the app</a>
                            </form>
                            <form class="animate-switch" ng-switch-when="second">
                                <div class="row collapse">
                                    <div class="small-2 columns">
                                        <span class="prefix"><i class="fi-torso"></i></span>
                                    </div>
                                    <div class="small-10 columns">
                                        <input type="text" placeholder="Full Name" data-ng-model="registration.fullName" required />
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="small-2 columns">
                                        <span class="prefix"><i class="fi-marker"></i></span>
                                    </div>
                                    <div class="small-10 columns">
                                        <select name="OfficeLocation" data-ng-model="registration.officeLocation" required>
                                            <option value="" disabled selected style='display:none;'>Select Office Location</option>
                                            <option value="Houston" selected>Houston</option>
                                            <option value="Austin">Austin</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="small-2 columns">
                                        <span class="prefix"><i class="fi-telephone"></i></span>
                                    </div>
                                    <div class="small-10 columns">
                                        <input type="text" placeholder="Office Phone Number" data-ng-model="registration.officePhoneNumber" required />
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="small-2 columns">
                                        <span class="prefix"><i class="fi-telephone"></i></span>
                                    </div>
                                    <div class="small-10 columns">
                                        <input type="text" placeholder="Personal Phone Number" data-ng-model="registration.personalPhoneNumber" />
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="small-2 columns">
                                        <span class="prefix"><i class="fi-mail"></i></span>
                                    </div>
                                    <div class="small-10 columns">
                                        <input type="text" placeholder="Email" data-ng-model="registration.emailAddress" />
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="small-2 columns">
                                        <span class="prefix"><i class="fi-torsos-female-male"></i></span>
                                    </div>
                                    <div class="small-10 columns">
                                        <select name="Gender" data-ng-model="registration.gender" required>
                                            <option value="" disabled selected style='display:none;'>Select Gender</option>
                                            <option value="female" selected>Female</option>
                                            <option value="male" selected>Male</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="button" type="submit" data-ng-click="saveUserData()">Save</button>
                                <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                                    {{SavedMessage}}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>